<%= form_with url: "/comments", method: :post do |form| %>

  <%= hidden_field_tag :commentable_id, params[:id] %>
  <%= hidden_field_tag :commentable_type, "Article" %>


  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :rate, style: "display: block" %>
    <%= form.number_field :rate %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
