<div class="container">
  <div class="row">
    <div class="row flex-center align-items-center">
      <div class="col-lg-6 col-md-5 order-md-1 mama"><%= image_tag "chaton.png", height: 500, class:"img-fluid" %></div>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">

<h5 class="card-title text-center mb-5 fw-light fs-5">Forgot your password ?</h5>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="d-flex mb-3">
  <p class="mb-0 me-2 text-dark">Enter your email adress</p>
</div>

<div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"floatingInput", placeholder:"" %>
    <%= f.label "Email adress", for:"floatingInput" %>
</div>

<div class="d-grid text-center">
  <%= f.submit "Get new password", class:"btn btn-login btn-success hover-top border-0 fw-bold text-uppercase mb-3" %>
</div>

<% end %>

<hr class="my-4">
<div class="d-flex align-items-center justify-content-center pb-4">
  <p class="mb-0 me-2 text-dark">Don't have an account ?</p>
<%= link_to "Create new", new_registration_path(resource_name), class:"text-success fw-bold" %>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


