<%= form_with(model: commentaire) do |form| %>
  <% if commentaire.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commentaire.errors.count, "error") %> prohibited this commentaire from being saved:</h2>

      <ul>
        <% commentaire.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :rate, style: "display: block" %>
    <%= form.number_field :rate %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
